
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="login">
    <div style="height: 1080px">
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form>
                        <h1>Bem Vindo !</h1>
                        <div>
                            <p>
                                Olá Bem vindo ao Movie Manager 1.0, neste sistema viso demonstrar o conhecimento com:<br /><br /><br />
                                • Desenvolver Applicativos Web com o ASP.NET MVC usando o Entity-Framework Code-First. <br /><br />
                                • Trabalhar com C#, HTML, CSS, Javascript entre outras tecnologias relacionadas como Jquery.<br /><br />
                                • Fazer o controle de versão usando GIT integrado ao GITHUB.<br /><br />
                                • Aplicar o Padrão de Repositório(Repository Pattern), aliado ao Unit of Work, e injeção de dependência com Ninject.
                            </p>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">


                            <div class="clearfix"></div>
                            <br />

                            <div class="footer_fixed">
                                <h1><i class="fa fa-book"></i> Movie Manager!</h1>

                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</body>
